.my-tree-view .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: black;
    -fx-shape: "M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z";
}
.my-tree-view .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: black;
    -fx-shape: "M0 9h24v6h-24z";
}

.fileChooserActive {
    -fx-padding: 0;
    -fx-background-color: yellow;
    -fx-spacing: 0;

    -fx-pref-width: 300;
    -fx-min-width: 300;
    -fx-max-width: 300;
}

.fileChooserInactive {
    -fx-padding: 0;
    -fx-background-color: yellow;
    -fx-spacing: 0;

    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}