@import "xml-highlighting.css";

$color2: #1f585f;
$color3: #ff9100;
$color4: #ffde38;
$color1: #1e1d15;
$color5: #fffba6;

$oxford-blue: #011638ff;
$space-cadet: #2e294eff;
$purpureus: #9055a2ff;
$kobi: #d499b9ff;
$baby-pink: #e8c1c5ff;

$background-color: #dcdcdc;


.root {
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, $background-color 0%, lighten($background-color, 50) 100%);
}

.bottom_line {
  -fx-background-color: $color4;
  -fx-pref-height: 20;
  -fx-max-height: 20;
  -fx-min-height: 20;
}

.menu_box {
  -fx-background-color: $background-color;
  -fx-pref-width: 150;
  -fx-font-weight: bold;

}

.menu_button {
  -fx-alignment: center-left;
  -fx-pref-height: 50;
  -fx-pref-width: 250;
  -fx-border-width: 0 0 0 5px;
  -fx-border-color: $color3;
  -fx-background-color: transparent;
  -fx-border-style: solid;

}

.menu_button:hover {
  -fx-border-color: $color5;
  // -fx-alignment: RIGHT;
}

.button_pane_button {
  -fx-border-color: #a4a3a3;
  -fx-border-width: 2px;

  -fx-max-width: 20px;
  -fx-pref-width: 20px;
  -fx-pref-height: 20px;
}

.button_pane_button:hover {
  -fx-border-color: #0078D7;
  -fx-background-color: #B2D8F4;
}