@import "xml-highlighting.css";

$color1: #264653;
$color2: #2A9D8F;
$color3: #E9C46A;
$color4: #F4A261;
$color5: #E76F51;

$background-color: #dcdcdc;

.root {
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, $background-color 0%, lighten($color3, 50) 100%);
}

.bottom_line {
  -fx-background-color: $color2;
  -fx-pref-height: 20;
  -fx-max-height: 20;
  -fx-min-height: 20;
}

.menu_box {
  -fx-background-color: $color3;
  -fx-pref-width: 150;
  -fx-font-weight: bold;

}

.menu_button {
  -fx-alignment: center-left;
  -fx-pref-height: 50;
  -fx-pref-width: 250;
  -fx-border-width: 0 0 0 5px;
  -fx-border-color: $color5;
  -fx-background-color: transparent;
  -fx-border-style: solid;

}

.menu_button:hover {
  -fx-border-color: $color3;
}

.button_pane_button {
  -fx-border-color: #a4a3a3;
  -fx-border-width: 2px;

  -fx-max-width: 20px;
  -fx-pref-width: 20px;
  -fx-pref-height: 20px;
}

.button_pane_button:hover {
  -fx-border-color: #0078D7;
  -fx-background-color: #B2D8F4;
}