@source "../xsdDocumentation/**/*.html";
@source "release/examples/xslt/Check_FundsXML_File.xslt";

@font-face {
    font-family: "Inter";
    src: url('Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
