<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ FreeXMLToolkit - Universal Toolkit for XML
  ~ Copyright (c) Karl Kauc 2024.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<Configuration status="ERROR">
    <Appenders>
        <!-- Rolling log file: archives are gzipped; archives (and legacy per-launch
             "*-fxt.log" files) older than 30 days, or beyond 50 MB in total, are deleted
             automatically on every rollover. -->
        <RollingFile name="MyFile" fileName="logs/fxt.log"
                     filePattern="logs/fxt-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="true" createOnDemand="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax">
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="{fxt-*.log.gz,*-fxt.log}">
                        <IfAny>
                            <IfLastModified age="P30D"/>
                            <IfAccumulatedFileSize exceeds="50 MB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <appender-ref ref="MyFile" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>